modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
run = "npm start"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 44512576
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node src/index.js"

[[ports]]
localPort = 3000
externalPort = 80
