<!DOCTYPE html>
<html lang="de">
<%- include('./partials/head') %>
<body class="bg-gray-50 text-gray-800">
  <%- include('./partials/header') %>
  <h1 style="text-align:center; font-size:4rem;">
    Saldo: <%= balance.toFixed(2) %> €
  </h1>
  <div style="text-align:center;">
    <a href="/transactions">Zum Verlauf</a>
  </div>
</body>
</html>