<nav>
  <div class="nav-inner">
    <a href="/" class="logo">
      <img src="/img/logo.svg" alt="Debt Tracker" width="32" height="32" />
    </a>
    <div>
      <a href="/balance" class="nav-link">Home</a>
      <a href="/transactions" class="nav-link">Transaktionen</a>
      <% if (admin) { %>
        <a href="/admin" class="nav-link">Admin</a>
      <% } else { %>
        <a href="/admin/login" class="nav-link">Admin</a>
      <% } %>
      <% if (userVorname || admin) { %>
        <a href="/logout" class="nav-link nav-logout">Logout</a>
      <% } %>
    </div>
  </div>
</nav>
