<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=420" />
  <title><%= title %></title>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap"
  />
  <link rel="stylesheet" href="/css/style.css" />
</head>
