<!DOCTYPE html>
<html lang="de">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <div class="container">
    <div class="form-box">
      <% if (error) { %>
        <p class="mb-4" style="color:#E63946;"><%= error %></p>
      <% } %>
      <form action="/admin/login" method="post">
        <input
          name="username"
          placeholder="Admin-Benutzer"
          required
        />
        <input
          name="password"
          type="password"
          placeholder="Passwort"
          required
        />
        <button
          type="submit"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</body>
</html>
